[2022-01-21 15:19] ARPAV2022 opened #1 "ARPAV - test 1 20/01/2022"
bugs / to be check
-----------------------------------------------------------------------------------------------------------------------

    • different browsers (Firefox vs. Chrome) are rendering the web pages not entirely correct: in particular check for the initial input form where the date fields appear to be much "shorter" than needed (i.e. there is not enough "space" to see what is effect

[2022-01-25 18:16] MaToSan24 opened #2 "Create an user manual for the application"
From: #1

[2022-01-25 18:28] MaToSan24 commented on #2
The user manual will be release once the application reaches its final form.

[2022-01-27 01:05] MaToSan24 commented on #1
### Solved issues / Implemented suggestions
• different browsers (Firefox vs. Chrome) are rendering the web pages not entirely correct: in particular check for the initial input form where the date fields appear to be much "shorter" than needed (i.e. there is not enough "space" to see what is effectively input by the user)
• provide an additional split of the total estimation of CF into the differ

[2022-01-31 14:46] MaToSan24 opened #3 "Implement Login and Register functionality"

[2022-02-01 10:41] ARPAV2022 commented on #1
Dear USE team,

concerning the two topics under "Pending Validation" please refer to the email sent on January 27th with the AUTH's methodological suggestions. Please, notify us once the updated release of the "simple use" tool is ready for the data entry. Thank in advance Giacomo on behalf of ARPAV

[2022-02-07 10:34] natlio opened #4 "AUTH - changes needed in the updated version of simple use"
**Events:**
a.The comment shown as "* The values of this section are considered the same for each project partner” would be better to replaced with "The values of this section are referred to the whole project partnership”
b. In the tab “On-line” Events, you have to correct the name of the input "Average duration (days)” with "Average duration (hours)".

**Printable Deliverables**
a. You can remov

[2022-02-07 17:38] MaToSan24 commented on #4
The suggested replacements have been made and the second column of the printable deliverables table has been removed. Also, an asterisk below the mentioned table has been introduced listing the deliverables that are included in the "Report type" category.

These changes are already deployed so feel free to keep testing the tool.

[2022-02-09 07:19] ARPAV2022 opened #5 "simplification of staff data entry"
The estimation of the values required by the current methodology is quite hard (above all if we use the tool during the preparation phase rather than in the final implementation stage of the project).
At least for the simple use, from the user perspective, we suggest:
- for the “personmonths”: to merge PP and WPP columns in one
- to not account personmonths for the external experts (if required by

[2022-02-09 07:20] ARPAV2022 opened #6 "BENCHMARKING EFFORT"
By our side it seems much useful to go through a run of the online tool with some standard predefined input values (a benchmarking project) and then cross-check the final estimation with the use of a different tool (i.e. a spreadsheet) in order to verify the correct implementation of the operations.

In our opinion, these verification steps should be possibly reported and formalized to ensure that

[2022-02-09 07:22] ARPAV2022 opened #7 "UNSTABLE VALUES ON STAFF TAB"
some values in the columns of the staff table are deleted moving from one page to the other. In this screen you can notice that two "Country" values have been missing. We had inserted them then me click on "page1" and back to "page2" and the values have been deleted.
![Screenshot from 2022-02-03 11-40-15](https://user-images.githubusercontent.com/98102967/153141188-42c30c44-52f7-43f1-b35c-71435a7b

[2022-02-10 06:48] natlio opened #8 "AUTH - modifications needed in simple use mode"
1. **Project general data:**  In Project Starting/Finishing Year the number of years are shown as e.g. "2,021" instead of "2021". Please correct this if it is possible. Otherwise, you could add a drop down list with multiple years in order for the user to select from the list.
2. **Partners:** The columns "Personmonths PP" and "Personmonths WPP" can be merged to "Personmonths"
3. **Partners:** The

[2022-02-10 06:51] natlio opened #9 "AUTH suggestions - add restrictions in the values of specific input data"
1. Events: The value “Average number of non-local physical participants” cannot be greater than the value of “Average number of physical participants”. In case the user insert a higher number of non-local physical participants than that of physical ones then an error could be shown to the user: “The number of non-local physical participants cannot be greater than the number of physical participant

[2022-02-10 07:16] natlio commented on #3
It seems that Registration is not always working. Today Safari and Google Chrome seem to work . However a different user tried with Mozilla but it didn't work. Also, previous days registration using chrome was not working so I am not sure if the problem is the browser.

[2022-02-10 10:34] LuisUsrDev commented on #8
The year field is not showing a comma for us, please add the steps you have taken so that the field with the comma appears.

[2022-02-10 10:43] natlio commented on #8
I click on the tab "Create new project" in the main page and then the following window appears where you have to insert the  years. I use Safari as a browser.
<img width="596" alt="Screenshot 2022-02-10 at 12 37 17 PM" src="https://user-images.githubusercontent.com/61784811/153390312-2a06e5e3-ecf4-445d-aa1b-26625c6be65a.png">

Also, it seems it depends on the browser. Another user who used Google

[2022-02-10 18:41] MaToSan24 commented on #3
Could you please attach some info about the problem in order to reproduce the error like data introduced and error displayed by the app?

[2022-02-11 09:02] ARPAV2022 opened #10 "today the app doesn't seem to work properly"
**Describe the bug**
we cannot enter in the app. Both login and register buttons do not work.

**Desktop (please complete the following information):**
 - Browser chrome, firefox
 - Ve
![Screenshot from 2022-02-11 09-05-40](https://user-images.githubusercontent.com/98102967/153563594-6e720db1-076d-44c9-8c52-cc0b4386d633.png)
![Screenshot from 2022-02-11 09-04-57](https://user-images.githubusercont

[2022-02-11 09:11] MaToSan24 commented on #10
Try to check again, the app should be working now

[2022-02-11 09:14] ARPAV2022 commented on #10
yes, thank you and also José Garcia for the fast support. Best regards

[2022-02-11 10:17] natlio commented on #3
Finally, the registration works now properly. Thank you very much!

[2022-02-11 16:42] #10 closed, assigned to LuisUsrDev, MaToSan24

[2022-02-11 16:45] ARPAV2022 opened #11 "ARPAV Partners tab"
we suggest a possible order of the columns and new labels to provide more detailed instruction (it is a proposal, we can discuss them)

note: could we discuss about the possibility to merge the columns of external experts in one (e.g. default values for external expertise)?

![immagine](https://user-images.githubusercontent.com/98102967/153632652-e9d16680-5b70-48ed-92d1-5f8a1e73c996.png)

[2022-02-11 16:47] ARPAV2022 opened #12 "ARPAV equipment tab"
What is   intended for "computer central processes"?
Can we evaluate the   possibility to enter a bulk number equal to the sum of IT equipment (without   differentiate into categories)?
Is there a representative   emission factor for the entire IT equipment category (e.g. a mean value of   different IT categories CFs, if they are slightly different)?

[2022-02-11 16:49] ARPAV2022 opened #13 "ARPAV printable deliverables"
Is the calculation based on default values for average number of pages and paper size (as suggested by the methodology)?
If yes, could the data entry be simplified accordingly , ascking only the number of copies?
If no (we retain all the columns) please check that the suggest default values are selected automatically for all the deliverable categories
Rollups are standard communication materials,

[2022-02-11 16:50] ARPAV2022 opened #14 "ARPAV events"
Does Label "Average number of physical participants" is the overall sum (local + non-local) or only local ones?
How we define "local" ?; may be more clear from the user's point of view to insert a distance threshold (in km) to separate local from non-local?
Or may we substitute "local" with the new label "not travalling from abroad" or similar?

[2022-02-11 16:51] ARPAV2022 opened #15 "ARPAV general features"
Labels of the columns should be as clear as possible and provide to the user a clear link with the calculation algorithm behind the value: this simplifies and increases the awarness diuring the compilation
the default value cannot be deleted automatically during the compilation; this could be a source of possible mistake when you fill the cell with a real number without deleting the default value

[2022-02-15 10:32] natlio commented on #15
- Regarding the default values used in the tool we propose (if it is possible) that these cells to be e.g. grey so as to be easily identified by the user that it is a default value proposed by the tool. We agree that when the user clicks on the cell this value should be deleted automatically and the colour cell change to white as the rest ones.

AUTH

[2022-02-15 10:36] natlio commented on #14
- The Label "Average number of physical participants" is the overall sum (local + non-local). We have already proposed (see Issue 9) a restriction to be added so as the number of non-local participants not be greater than the "Average number of physical participants"
- We propose a definition of the non-local physical participants to be added as an info in the tool as following; "Participants rave

[2022-02-15 10:39] natlio commented on #13
- Yes we agree with that , we have already suggested (#8 ) that the columns "Average number of pages" and "Paper size" to be removed since default values are given.
- We could consider CF estimation from Rollups to be  similar with that of Posters. So ,if you agree,  the category "Poster" could be replaced with "Poster/Rollup"

[2022-02-15 10:45] natlio commented on #11
- We agree with the order/renaming of the columns.
- It is not possible to assume a standard value for the personmonths of the external experts. Just to mention, however, that external experts include only office employees and therefore CF is calculated only for office related activities (e.g. energy use, material use/waste, transportation). For example, external experts for catering or for printi

[2022-02-15 10:47] natlio commented on #12
- We suggest to remove "computer central processes" item since it has the same Emission Factor of "PCs"
- There is no a representative EF for all IT items since these are highly differentiated.

[2022-02-16 10:49] maxbre commented on #15
title of the input fields should be as clear as possible for the user: e.g event tab, "average number of physical participant", please specify additional information in order to understand if we are talking about local or non local user

[2022-02-16 10:50] maxbre commented on #14
see issue 15

[2022-02-16 10:56] maxbre opened #16 "export table of input fields"
please provide a feature to export all the "tables" of the tools so that it can be used as a template for the input use in the form of a spreadsheet (for internal use)

[2022-02-18 11:52] natlio opened #17 "Problem with the cell "Sum personmonths (full time+part time)""
In the section "Partners" when I modify the values in the cell "Sum personmonths (full time+part time) the results (fuels-heat, electricity, water) remain the same.
Also, I tried to create a new project and filled in with values the specific cell and no CF was calculated for the corresponding sources.

[2022-02-18 13:19] MaToSan24 commented on #17
We were aware of this issue and we've been trying to solve it. I think that I have already fixed it so feel free to try and check the app again. Make sure that you create new partners in order for the app to work, because the partners that already exist on the app are outdated and will make the app crash if you keep them in a project.

[2022-02-18 14:17] natlio commented on #17
Thank you. But it seems that the problem remains. I tried by creating a new project.

[2022-02-18 15:29] MaToSan24 commented on #17
You're right, I think I've finally fixed it, the problem had to do with something completely different this time. I have been able to calculate the CF in your project successfully:
![image](https://user-images.githubusercontent.com/63660411/154712173-f4a2f3fc-282c-4df4-aae6-b256f078f51b.png)

[2022-02-18 17:57] natlio commented on #17
Thank you very much!It works fine!

[2022-02-21 09:33] spapadog commented on #17
Τhe problem, as mentioned above, remains today.

[2022-02-21 09:44] MaToSan24 commented on #17
Try to give some information in order to reproduce your problem please. For me, it works fine, and Natalia said that it works for her too. Have you deleted the old partners and created new ones?

[2022-02-21 09:50] spapadog commented on #17
Yes, I have deleted all old partners, I create new ones and when I calculate total tons the responce is:
![wecaremed](https://user-images.githubusercontent.com/79985199/154930396-60617a44-02e1-4de8-a32e-76012fcd3331.png)

[2022-02-21 09:53] natlio commented on #17
Indeed, I have the same problem again even though it was working on Friday.

[2022-02-21 10:01] MaToSan24 commented on #17
It should be working again, I will try to find out why the app stops working suddenly from time to time.

[2022-02-22 08:34] natlio commented on #17
Please let me know when the problem is fixed. I just noticed that the same occurs with events participated by the project where I change the values (number of events, participants) and the result remains the same. Thanks

[2022-02-22 09:11] MaToSan24 commented on #17
It works for me now. The problem is that some data from the app database is dissapearing randomly after some time even if we dont modify the app's code. We need to investigate this issue.

[2022-02-25 13:34] ARPAV2022 commented on #17
We noticed the same problem. we changed from 2 to 20000 participants, but the CF remains unchanged

<img width="934" alt="Immagine 2022-02-24 163718" src="https://user-images.githubusercontent.com/98102967/155723778-a3c7f034-b674-40e0-94c5-b802af0ccd29.png">

<img width="944" alt="Immagine 2022-02-25 143423" src="https://user-images.githubusercontent.com/98102967/155724129-8d752b0b-3e48-4b15-a8e9-

[2022-02-25 13:42] ARPAV2022 opened #18 "PDF / excel extraction of the final results for simple use"
According to us an additional feature could be add to allow the final user to download in pdf /excel (or both format) the results of the calculation with all the data entry. This could be useful in order to have a "piece of paper" to provide exhaustive information behind the CF number of the project.
Even if it is not clear what kind of demonstration and reporting effort will be required by the JS

[2022-02-26 03:16] MaToSan24 commented on #17
This is happening because there are some partners that don't have a value in some of their fields. In this case, the field "sum person months (full time + part time)" does not have any value set so, the calculations can't be made. I've made sure that an error pops up when this scenario happens:

![image](https://user-images.githubusercontent.com/63660411/155826814-45beb66c-b3cc-4d7b-90c9-aaeb8fe59

[2022-02-28 10:41] ARPAV2022 commented on #17
you're right. I have inserted the missing values on personmonth column and now the CF values vary also according to the number of participants.  Thank you
I think it is important to highlight (in the way you suggested) the values that cannot be blank, in order to have consistent results.
It seems that also the overall CF value for "Events" is more reasonable and comparable with CF of other breakdo

[2022-03-07 13:01] MaToSan24 commented on #18
A "Generate PDF" button has been implemented, feel free to check it out.
![image](https://user-images.githubusercontent.com/63660411/157039283-0f48e7fe-c967-4244-916b-98a59dff093b.png)

[2022-03-18 07:04] natlio opened #19 "Starting/Finishing Year input"
The input "Starting/Finishing Year" should be replaced with "Starting/Finishing Date" and include both "Month" and "Year".
For example,
Starting Date: 01/2022
Ending Date: 06/2024

The problem is that in the case that the project duration is for example 2.5years, in the current version of the tool the user cannot insert the exact duration.

AUTH

[2022-04-27 15:29] ARPAV2022 opened #20 "Uncorrect visualisation of CF values in the initial list"
In the initial list of projects,  the column of "CF estimation" is 0, even if the projects inside has values different from 0 (see screenshot)
![immagine](https://user-images.githubusercontent.com/98102967/165555245-bd472fd9-2e06-4341-8803-c66ee8fbcb43.png)

[2022-04-27 15:31] ARPAV2022 opened #21 "Show the parameter €/ton CO2eq"
We appreciate the translation of CF values in euro, as agreed together; I would suggest, in order to increase transparency and the usability of the tool, that the parameter (€/ton Co2e) is shown in the tool and printed together with the result. In each call the parameter will be different and the user should be able to change accordingly.

[2022-04-27 15:32] ARPAV2022 opened #22 "Clarify the difference between initial and current"
you add the possibility to switch from "initial" to "current" modes in addition to "simple" and "advanced" modes. Sorry, but I don't remember the meaning of this additional feature; please, could you provide a clarification? Did you add a specific paragraph in our user manual about that, too?

[2022-04-28 11:24] natlio opened #23 ""Clear" button not working?"
I have inserted values, for example, in the tab "Printable Deliverables" e.g.
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/61784811/165741400-908e2d40-77cf-4059-ba22-527b5036dff0.png">

I then select the "Clear" button, but the values of copies remain. It seems that is not working. The same is for the input data of partners.

[2022-04-28 17:36] MaToSan24 commented on #23
The "Clear" button is meant to clear the content of the filter, which you can find between the "New printable deliverable" and "Save" buttons. It is not meant to clear the content of the whole table by deleting every item. We have replaced the "Clear" label with "Clear filters" in order to provide the user a more precise description of the button's behaviour.

[2022-04-28 17:47] MaToSan24 commented on #22
Simple and advanced modes refer to the preparation and execution phase respectively. Besides, the initial and current modes on each project refer to the status of the project on the starting (initial) moment and right now (currently). In that way, the user could be able to compare how has the project been modified since it was created, not needing to create a copy of the project for that purpose.

[2022-04-28 17:52] MaToSan24 commented on #20
As mentioned on issue #22, we have established initial and current data for each project (apart from simple and advanced modes), and this table shows only the CF values for the projects' current data. If you notice, the data that has been introduced in the first project has been put in the "Initial" side, not on the "Current", that is the reason why this table is not showing it.

[2022-04-29 09:33] maxbre opened #24 "list of new issues"
section "partners"
------------------------------------------------------------------------------------------------------------------------------------------------
feature request:
- the list of countries is missing of Germany and Bulgaria: I understand that these two countries are not present in the list because they are not part of the MED area but they are needed for testing a project input dat

[2022-04-29 10:35] natlio commented on #22
When I am trying to select "Current data" in the advanced use mode, the browser is rephresing all the time. Is this mode currently working?

[2022-05-02 10:33] ARPAV2022 opened #25 "The REMEDIO project is uncompleted"
I notice that some partners from the REMEDIO project have been deleted after the update of the tool. I guess that this dramatically affect the result.
PLease, have you the possibility to check that all the data we inserted in the REMEDIO project have been  copy-pasted correctly in the new version of the tool?
Otherwise we have to chack again all the project.

Thank you

[2022-05-02 10:43] ARPAV2022 commented on #22
We have to discuss how to deal with this new feature. It could be an helpful function for the user, but we have to pay attention to not increase the complexity of the overall picture.

In which phase of the project (preparation or execution?) the "current" status could be useful to the user?

If the goal is to compare values with the "initial" stauts, why should the user insert again all the data

[2022-05-02 10:54] ARPAV2022 opened #26 "Present VS past version of the tool"
[20220426_check_remedio_before_after.odt](https://github.com/isa-group/wecaremed/files/8602356/20220426_check_remedio_before_after.odt)

We are wondering if the difference of the values between the previous and the current version of the tool were expected from your side. You can find attached the difference for the REMEDIO project that is quite high.

Since this is a matter of methodology, I invi

[2022-05-02 10:56] ARPAV2022 opened #27 "In preparation of our meeting on 11th May"
Please, during our next meeting could you update us about advance use structure and the state of the art of its development?

[2022-05-02 11:03] ARPAV2022 commented on #26
@natlio

[2022-05-03 10:26] MaToSan24 commented on #25
What's missing in the REMEDIO project is the second page of the "Partners" table, we didn't realize there was second page and so it wasn't copied. Please, would you kindly add them again?

[2022-05-03 10:48] MaToSan24 commented on #24
![asd](https://user-images.githubusercontent.com/63660411/166438834-552f20ff-2f69-4f4d-a93a-3b06d88e8f12.png)
Bulgaria is part of the list of available countries and the country you can use as an "average" is "Europe", which uses the average values in Europe for everything.

to be check against previous release of the tool:
it seems missing the input field "number of online events partecipated by

[2022-05-03 10:57] MaToSan24 commented on #26
The calculations of the tool are fine since we checked them over and over. Some data that was being used for calculations like average fuel consumption, percentage distribution of travels, etc. were modified in the methodology, and so we updated the tool to match it (this update resulted in bigger CFs on average for the projects). Also, the REMEDIO project is missing the second page of partners th

[2022-05-03 11:12] MaToSan24 commented on #24
Could you please tell us what steps have you followed in order for the input values not to be saved? I think that what could be going on is that you added a partner while being in the simple or in the advanced mode, then switched to the other mode, and then realized that there were missing values. This is correct because the partner data that you introduce in each mode is different, and so, there

[2022-05-03 11:14] MaToSan24 commented on #24
If AUTH agrees with the change, we will implement it right away.

[2022-05-03 11:23] MaToSan24 commented on #24
The list of countries has been sorted alphabetically.

[2022-05-03 12:16] natlio commented on #26
I attach an excel file where I made a comparison between the past and present versions of the tool. It includes CF for each emission source in tCO2/employee/year or tCO2/participant/event. You can find also some relative comments.
Differences should exist only on the following sources: Fuels-Heat, Transportation, Events.
Higher CF values are attributed mainly to the events section since in the upd

[2022-05-03 13:12] natlio commented on #24
Yes, we agree.

[2022-05-03 13:18] maxbre commented on #24
it is very difficult to reproduce it, I just realise that sometimes it happens; it might be the case that you are mentioning; I'll pay more attention to that in the next data entry, ok consider that issue closed for now, thanks for the reply

[2022-05-03 13:22] maxbre commented on #24
OK I'll use "Europe" to input an average data, by the way I was actually referring to Romania and not to Bulgaria (which is effectively present), never mind, as I said I'll use "Europe" instead, thanks for ordering alphabetically which makes much easier the selection of a country

[2022-05-03 13:33] natlio opened #28 "Start/Finishing Date clarification"
I want to make a test for an one year project (i.e. 12 months). In case I use 05/2022 for starting date, which will be the month for the finishing date so as to have 12 months in total? How the tool is counting a whole month?

I am checking results for transportation which is dependent on the duration of the project.

[2022-05-03 13:34] #23 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-03 13:35] maxbre commented on #24
[Input Data List_FFS_PADOVAFIT.xlsx](https://github.com/isa-group/wecaremed/files/8610766/Input.Data.List_FFS_PADOVAFIT.xlsx)

for what is concerning the "external events partecipated by the project partners" and the "number of online events partecipated by the project", please refer to the attachment (see excel file) which is the template used for the collection of data for other projects (testin

[2022-05-03 13:46] natlio commented on #28
It seems that 12 months correspond to Start: 05/2022 , end: 06/2023. Is this right?

I was initially confused since the tool  enters by default as start/end month 05/2022 to 05/2024 and therefore I supposed that this corresponded to 2 years.

[2022-05-03 15:01] MaToSan24 commented on #28
The tool considers the first day of the month of the starting date and the last day of the month of the finishing date. For your project, if you select 05/2022 and 05/2023 the dates will actually be: 01/05/2022 - 31/05/2023, so that would be 1 year and 1 month. If you wanted an exact year, you would need to select 05/2022 and 04/2023 for the starting and finishing date respectively.

[2022-05-03 15:34] natlio opened #29 "CF calculations for Transportation in Simple and Advanced Use"
In the simple use mode, I use the following input data
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/61784811/166481621-e2ac104f-e70a-4e50-8b73-568ea61a9250.png">

and I get 0.14tCO2e for transportation.
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/61784811/166481793-3e9ebaa3-522e-4d91-90fb-8d1e918a906c.png">

This value is not correct

[2022-05-05 10:27] natlio commented on #22
We think that the addition of the "initial" and "current" modes in the tool it is not necessary since there is already the possibility of creating a clone project where all the input data are already filled in without needing to insert again all the data. In this way , the tool will be less complex.
We think that mainly in the simple use mode there is no need of calculating CF in two phases.
In th

[2022-05-06 07:46] ARPAV2022 commented on #26
Thank you for your contribution.
The increase of the values in REMEDIO is (more or less) in the processes mentioned by @natlio (see sheet n.3 of the excel file).

An issue is maybe related to the printable deliverables because the value is 0; is it possible to add two digits after the comma so we can compare the value with the previous one?
[old_Vs_new.xlsx](https://github.com/isa-group/wecaremed/

[2022-05-06 07:52] ARPAV2022 commented on #25
The REMEDIO project has been completed with the missing partners.

I renamed it as 20220506 test arpav - REMEDIO AND I LOST ALL THE VALUES ABOUT EVENTS. Please check the bug, because it could be annoying the loose of values if you rename the project. Now, I will fix it manually inseting again the values

[2022-05-06 08:21] natlio opened #30 "Set to integer the Average number of participants of the project"
Similarly to the other sections (public/internal events) , please set the values of the field "Average number of participants of the project" in the Section "Events participated by the project" to an integer value (i.e. 1, 2, 3 etc.)

[2022-05-06 11:13] ARPAV2022 commented on #28
I would suggest to insert this kind of information in the guidelines of the tool or directly in the tool (? with a popo up or similar).

[2022-05-09 09:38] MaToSan24 commented on #25
Could you please tell us what steps have you followed in order to clone the project and lose the values? I just cloned the "20220506 test arpav - REMEDIO" project and I have not lost any data.

[2022-05-09 09:52] MaToSan24 commented on #26
The actual value of the CF for printable deliverables is 0.0035812873850000004 t CO2e, and the values are rounded to 2 decimals, that is the reason why 0 is shown in the app.

[2022-05-09 10:23] ARPAV2022 commented on #25
I don't cloned the project actually.

I clicked on "Edit project"
I renamed the title
I clicked on "update"

The resulting project (without any value on "event") is avaialble in the tool with the title "20220506 test arpav - REMEDIO_for bug"

I hope it is enough clear, on the contrary please let me know

[2022-05-09 10:32] ARPAV2022 commented on #26
Then I'm wondering why the value after the update is lower then the previous project, if the emissions factos (as far as I understood from @natlio ) are not changed for this  process.  Data input are remained the same.
Thank you for the clarification

[2022-05-09 10:45] MaToSan24 commented on #29
I have fixed the problem. The months are considered as we said previously. You can check that the "transportation" CF value is now correct in the "test" project that you created:
![image](https://user-images.githubusercontent.com/63660411/167394615-7678c0e3-fb49-490d-be38-f443593f767d.png)

[2022-05-09 10:53] natlio commented on #29
Thank you, it seems fine now.

[2022-05-09 10:53] MaToSan24 commented on #30
Implemented. You can already check it out.

[2022-05-09 11:15] MaToSan24 commented on #28
This information has been added in the create/edit project view:
![image](https://user-images.githubusercontent.com/63660411/167398843-eb576d58-2e95-4f66-b290-4deae59a531c.png)

[2022-05-10 08:05] maxbre opened #31 "number of items listed per page"
for a more effective management of the data entry and an easier review of the information I'm proposing the following new features:
- increase the number of project listed within a single page (10 projects per page)
- increase the number of partners listed within a single page (10 partners per page)

see attached file for reference
[new_feature.pdf](https://github.com/isa-group/wecaremed/files/865

[2022-05-10 09:07] MaToSan24 commented on #31
Thank you for the proposal, it has been implemented right away.

[2022-05-10 12:36] maxbre commented on #31
thank you for the prompt implementation of the new feature

issue closed from my side

best

[2022-05-11 12:00] natlio opened #32 "Events organised by the project"
- Add an error when the field “Duration (hours/day) is higher than 24 in the advanced use mode (similar to simple use).

- Replace the name of the field "Duration (hours/day)" with "Duration (hours per day)" so as to be more clear (both in advanced and simple use modes).

[2022-05-11 12:02] natlio opened #33 "Number of two-way travels - Advanced use"
1. In the section "Partners", replace the name of the field "Number two-way travels" with "Number of two-way travels”
2. In the section "Partners", add an * to the field “Number of two-way travels” with the following clarification: "The values of this field are referred only to staff members concerning the whole project duration".
3. In the section "External Experts", add an * to the field “Number

[2022-05-11 20:09] LuisUsrDev commented on #33
Implemented. You can already check it out

[2022-05-11 20:09] LuisUsrDev commented on #32
Implemented. You can already check it out.

[2022-05-13 09:33] #19 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:33] #20 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #28 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #29 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #30 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #31 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #32 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #33 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:35] #27 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:36] #18 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:36] #17 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:36] #16 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:37] #15 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:37] #14 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:37] #13 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:37] #12 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:37] #11 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:37] #9 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:38] #8 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:38] #7 closed, assigned to MaToSan24

[2022-05-13 09:38] #6 closed, assigned to MaToSan24

[2022-05-13 09:38] #5 closed, assigned to MaToSan24

[2022-05-13 09:38] #4 closed, assigned to MaToSan24

[2022-05-13 09:38] #2 closed, assigned to nobody

[2022-05-13 09:38] #1 closed, assigned to MaToSan24

[2022-05-13 09:39] #3 closed, assigned to MaToSan24

[2022-05-13 09:39] #21 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-13 09:44] natlio commented on #32
In case of the duration of the events (in hours per day) when I insert e.g. 40 hours it does not give an error but inserts the maximum value (i.e.24). This is not very useful since the user may insert by mistake a wrong value (e.g. 40). Could you please implement an error check that will be shown to the user? In the past version of the simple use mode , an error text was shown to the user. The pro

[2022-05-14 11:27] LuisUsrDev commented on #32
Sorry for the error, it has been fixed.

El vie, 13 may 2022 a las 11:44, Natalia Liora ***@***.***>)
escribió:

[2022-05-17 11:00] natlio opened #34 "Rename Fields - Simple Use"
Please rename the following fields as suggested below.

Simple Use mode
1. Rename the field “Number full time employees” with “Number of full time staff members”.
2. Rename the field “Number part time employees” with “Number of part time staff members”.
3. Rename the field “Sum person months (full time+part time)” with “Sum of the staff person months (full time+part time)”.
4. Rename the field “Su

[2022-05-17 11:02] natlio opened #35 "Rename Fields/Add clarifications - Advanced Use"
We suggest the following minor modifications in the advanced use mode. Thank you.

1. In the Partners section, add an * with “The values of this section refer to staff members (full time + part time) concerning the whole project duration”
2. In the Partners section, rename the field “Sum person months (full time+part time)” with “Person months”.
3. In the Partners section, remove the reference * i

[2022-05-19 18:16] MaToSan24 commented on #35
The requested changes have been implemented, feel free to check them out.

[2022-05-19 19:10] natlio commented on #35
Thank you very much. Could you please rename also the field "Virtual participants" in the events section to "On-line participants" so as to have the same term with the simple use mode?
Thanks again for your effort!

[2022-05-19 19:13] natlio commented on #35
Also, is it possible to remove the field “Car Fuel Type” in the events participated by the project section and integrate it in the field “Travel mode”  by adding the different travel modes for cars e.g. Car - Diesel, Car - Petrol etc?

[2022-05-19 19:20] natlio commented on #35
Number 14 was not implemented. However , I see that I didn't write it with a subscript finally. I cannot copy it here. I mean like this
<img width="59" alt="image" src="https://user-images.githubusercontent.com/61784811/169385716-c0ae9344-4260-4ec3-b3f1-6b1f2e6c797e.png">
Is this possible?

[2022-05-20 15:50] LuisUsrDev commented on #35
The requested changes of the simple mode have been implemented, feel free
to check them out.

El jue, 19 may 2022 a las 21:20, Natalia Liora ***@***.***>)
escribió:

[2022-05-20 23:06] MaToSan24 commented on #35
Sorry for the inconvinience, the "CO2"s have been correctly updated to "CO₂"s and the virtual events have been renamed to on-line eventes.

Regarding this feature, it would be quite cumbersome, but it could be done. Do you have any problem with the current implementation?

[2022-05-21 06:23] natlio commented on #35
Thank you very much for the changes.
It is ok.It is not so necessary to do it if this is difficult. We do not have any problem with the current implementation. We just thought that in that way it would be more easy to the user. Thanks again!

[2022-05-26 11:26] #35 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-26 11:27] #34 closed, assigned to LuisUsrDev, MaToSan24

[2022-05-27 10:21] ARPAV2022 opened #36 "Criticalities to upload the project 20220506 test arpav - REMEDIO"
The app starts a strange intermitting recharge in contiuous if one switches from initial to current in the advance use mode.
Then you are not able to operate in the app and change the values.

[2022-05-27 12:20] ARPAV2022 opened #37 "MIssing note for "Events" tab"
In the advance mode the * is missing. According to the simple mode the missing note is "* The values of this section refer to the whole project partnership"

[2022-05-27 12:36] ARPAV2022 opened #38 "Simple use mode: Events and Equipment have not the "Save" button"
Is there a reason why those tabs have not the "Save" button?

[2022-05-27 12:50] ARPAV2022 opened #39 "Advance tool: decimal digits are not allowed in External experts "Person months""
It seems that no decimal digits are allowed in the advance tool for External experts "Person months" , while (at least in REMEDIO) we digit 0.5 in the simple use.
![immagine](https://user-images.githubusercontent.com/98102967/170702514-74087f4a-c432-47ff-aa8b-e6917ed64c58.png)

[2022-05-27 13:11] ARPAV2022 opened #40 "Advance tool: numbers are not stable"
![immagine](https://user-images.githubusercontent.com/98102967/170705654-9f6a5a85-2c55-49bc-b171-983eb17ec321.png)

Switching from simple to advance it happens that numbers are lost. In the picture, all the row of the columns were filled in.

[2022-05-27 15:47] MaToSan24 commented on #38
They are not actual tables, like every other section that has a "save" button, but a group of input boxes for numbers. We added that "save" buttons to the tables because some times, when an user updated their values, these changes were not saved correctly everytime.

We cannot modify the internal implementation of these tables and so, we cannot fix the problem of automatically updating correctly.

[2022-05-27 15:55] MaToSan24 commented on #39
You need to input the decimal values with a comma, although in the resulting table they will be shown with a dot.

![image](https://user-images.githubusercontent.com/63660411/170735003-2eac8672-97e8-4e72-925d-2f25969d55e5.png)
![image](https://user-images.githubusercontent.com/63660411/170735068-f900cb07-1d46-4899-ba83-070db499c901.png)

[2022-05-27 15:57] MaToSan24 commented on #40
I have explained the reason for this on issue #38 , please make sure to check it out. Please, do not forget to click on the "save" button before switching views.

[2022-05-27 15:58] MaToSan24 commented on #37
Thank you for pointing it out, the missing note has been added.

[2022-05-27 16:00] MaToSan24 commented on #36
We are currently trying to figure out why this happens all of a sudden even if previously it was working fine. Even though, I've fixed it manually in this particular case in order to allow you to keep testing the tool without problems.

[2022-05-27 16:22] MaToSan24 commented on #36
We think that we have solved the problem. We are going to upload it. If you face this problem again don't hesitate in telling us.

[2022-05-30 06:57] ARPAV2022 commented on #39
![immagine](https://user-images.githubusercontent.com/98102967/170934372-bd9e44ee-f395-4f32-b79f-eae17086f248.png)

Your suggestion is fine for "partners" tab, while in the "External"'s person months I cannot add any decimal digits

[2022-05-30 09:56] MaToSan24 commented on #39
Sorry, you are right. It has been fixed and updated in the tool.

[2022-06-01 13:18] ARPAV2022 opened #41 ""Customs" tab"
![immagine](https://user-images.githubusercontent.com/98102967/171413646-38652bcf-af2b-4560-861c-82fa3b088d9d.png)

As agreed "customs" tab can be deleted from the advance tool mode

[2022-06-01 13:26] ARPAV2022 opened #42 "Advance use: events"
![immagine](https://user-images.githubusercontent.com/98102967/171414383-6d752091-cbc0-45fd-8e27-b5778b7d70e1.png)

It could be useful to allow also decimal digit in the column days (e.g. 1,5 days of meeting /event duration) >> see yellow line

It could be helful for the user to have a clear explanation that "online participants" and "duration (hour)" should be defined only in case of "mixed" or "

[2022-06-01 13:47] ARPAV2022 opened #43 "Advance mode: participation in in presence events"
![immagine](https://user-images.githubusercontent.com/98102967/171418958-28e76e90-5b8c-4fec-80a9-98ecd1f6f34b.png)

I propose to add the possibility to insert decimal digits in duration (days) column (e.g. 1.5) >> red line

Do you think it is necessary to double the information for the daparture /arrival columns? Or in the case of commuting we can ask to the user to insert the km, type of trasnpor

[2022-06-02 07:56] natlio commented on #42
We could accept to use decimal digit in the column days but in this case you have to consider that in the calculation of CF for hotel stay the duration of the stay (in days) will be the rounded number of the duration of the event in days.
We agree that the columns "on-line participants" and "hours per day" should be hidden in case of in-presence events, if possible.

[2022-06-02 07:58] natlio commented on #43
The travel mode used may be different while arriving at or departing from the hosting city. So, we think it is important to keep the whole information.

[2022-06-02 09:05] MaToSan24 commented on #42
The fields that the user doesn't need to input has been hidden in order to show more clarity in the tool, I hope that helps.
![image](https://user-images.githubusercontent.com/63660411/171595466-b4f83748-aab8-4aad-9a0d-64e99b6e42b5.png)

Also, the possibility to insert decimal digits in the duration (days) column has been implemented.

[2022-06-02 09:05] MaToSan24 commented on #43
The possibility to insert decimal digits in the duration (days) column has been implemented.

[2022-06-09 14:33] ARPAV2022 commented on #43
Thank you for your comments. I can close the issue

[2022-06-09 14:33] #43 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-09 14:35] ARPAV2022 commented on #42
OK thank you for your comments and improvement. Issue solved

[2022-06-09 14:35] #42 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-09 14:36] ARPAV2022 commented on #40
OK I will put more attention, It would be useful to "authorise" to switch only if the project is saved or as alternative solutions exit with a pop up as remind to save the project

[2022-06-09 14:37] ARPAV2022 commented on #39
ok thank you Issue solved

[2022-06-09 14:37] #39 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-09 14:42] ARPAV2022 commented on #38
Please, check the stability of "events" in simple mode because every time I log in the CF of the REMEDIO project is underestimated becasue all the data inserted in "Events" tab are deleted automatically.
![immagine](https://user-images.githubusercontent.com/98102967/172874413-ebc78b5e-0570-49d7-9b1f-2f4ffc7a8340.png)

This is a little bit annoying, becasue the changment has a relevant impact on CF

[2022-06-09 14:43] ARPAV2022 opened #44 "New labels"
Please, consider to remane the label of the project features according to the new labels (e.g. simple mode ==> design mode. etc.)

[2022-06-09 14:45] ARPAV2022 opened #45 "Possibility to create a "superuser account""
A superuser account would be useful to conceive in order to allow the JS to enter in WECAREMED (with that account) and to check all the approved projects of the call in the initial list "My project"

[2022-06-10 13:28] ARPAV2022 commented on #45
I close the issue because the superaccount is already avaialble

[2022-06-10 14:35] ARPAV2022 opened #46 "Events in the advance mode - methodological issue"
Compliting REMEDIO events (participated in events by project staff) in more than one situation, it happens that the project staff come from different part of Europe (for example n.2 from Italy and n. 1 from Greece for a total of 3 participants). In the guidelines for the applicants we suggest to insert an average (or the highest) value of the distances in order to insert 1 row for each event, or a

[2022-06-11 09:43] MaToSan24 commented on #38
I've entered some test data in the "Current" mode, reloaded the page, logged out, logged in again and the data is still there. I don't know what could be happening to you in order for the data to be deleted.
![image](https://user-images.githubusercontent.com/63660411/173182471-27e2a1af-3f4c-44e7-a744-20afe78aa023.png)

Could you provide us more detailed info about the process you have followed?

[2022-06-11 11:06] MaToSan24 commented on #44
The app has been updated with the new labels suggested.

[2022-06-14 15:47] ARPAV2022 commented on #38
Thank you,

but the issue was is in the "Initial" (now base) mode indeed. Have you tried also that?

[2022-06-14 15:49] ARPAV2022 opened #47 "Scenario data from Base mode data"
As far as I understood, the data from the Base mode should be copied directly when the user switch to Scenario mode, but this is not the case when I play in the REMEDIO project.
Thank you Giacomo

[2022-06-14 17:47] MaToSan24 commented on #38
The implementation is that same for both "Initial" and "Current" modes. Even though, I have tried it again on the "Initial" mode and it works fine for me as well. Please, make sure to tell us whenever you face this problem again and sorry for the inconveniences you may have faced.

[2022-06-15 06:49] ARPAV2022 opened #48 "Printable materials: insert or not T-shirt"
This is a methodological issue to share with AUTH  @NAtlio.
Detailing the printable materials of REMEDIO project, among other communication materials, also project T-shirts have been produced (n.60). Comparing the unitary CF parameters of a paper printable deliverable and a T-shirt do we foresee relevant the integration of T-shirt to account among printable deliverables? We have to consider also t

[2022-06-15 07:00] ARPAV2022 commented on #45
We understand that superuser account that can see all the projects of the call already exist and this is fine.
In order to calculate the "programme delta" (equals to the sum of project deltas at the end of the monitoring and implementation phase), is it possible for the superaccount to do some analysis with the project data (e.g difference between CF: first estimation VS final monitoring; sum of t

[2022-06-15 07:08] ARPAV2022 commented on #38
Thank you very muche; now it seems to work and retain data I have inserted. I can close the issue.

[2022-06-15 07:08] #38 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-15 09:15] ARPAV2022 commented on #44
Thank you, the issue is solved

[2022-06-15 09:15] #44 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-15 09:17] ARPAV2022 commented on #22
The labels have been changed, then I will suggest to close this specific issue.

[2022-06-15 09:27] natlio commented on #46
We suggest the second option: split the same event in different rows according to the different origins of project participants.

[2022-06-15 09:35] ARPAV2022 commented on #46
Thank you for your feedback; please, USE (or AUTH), remind to insert this hint in the user manual of the tool

[2022-06-15 09:59] ARPAV2022 opened #49 "CF design mode - "Events" data are not cloned in Base mode"
I created a new project "Incircle_original" with realted data (also Events where present).
I cloned the project and all the data fo the different categories have been copied, but no the data related to the Events.

I worked in the Design mode, with base option (not scenario).
Thank you

[2022-06-15 10:07] ARPAV2022 opened #50 "Predefined cell for "new partner" line"
Is it possible to show a new partner line with predefined data equal to "0" (as it is for "Events")?
Otherwise, you have to click in each cell even if the value is 0.

This is the line as it is now
![immagine](https://user-images.githubusercontent.com/98102967/173801903-9b76eb10-e2a8-4203-9410-6899969916d4.png)

The proposal is to show predefined digit equals to "0" in that line, as it is for "Eve

[2022-06-15 10:42] natlio commented on #48
In case of T-shirts, we could  estimate the CF of the material use of a T-shirt in some way. For example, the EF of clothing is 22310 kgCO2/tonne. If we consider that a T-shirt weights approximately e.g. 130gr then for 60 T-shirts we would have a total CF of 0.17tonnes CO2e.
However, if we add T-shirts in the materials section then we have to add additional items such as USB-sticks , bags, canteen

[2022-06-15 11:31] ARPAV2022 commented on #48
I agree, thank you for the explanation. Maybe we could insert those items as further development /improvement of our tool. I close the issue. Thank you all

[2022-06-15 11:31] #48 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-19 16:13] MaToSan24 commented on #47
This feature has been implemented in such way that the user is provided a button that allows him to export the data from the base mode to the Scenario/Monitoring Period mode, overwriting the data that Scenario/Monitoring Period modes contained.

You can already use this feature as the tool has been updated with it.

[2022-06-19 16:18] MaToSan24 commented on #40
We have added another mechanism in order to ensure that the data is not lost whenever editing it. Now, you should not lose the data that you input anymore.

[2022-06-19 16:27] MaToSan24 commented on #49
We have checked it and the "Incircle_original" has no Events data, and so, if you clone it, the Events data of the clone is empty. We have modified the Events data of the original project, then cloned it and the resulting clone had the corresponding modifications. We have left the project as it was originally before we checked it so you can see it yourself.

[2022-06-19 16:38] MaToSan24 commented on #50
Originally, that was the behaviour of the tool, but we were asked to implement it the way it is currently. The goal of the current implementation is to prevent the user from calculating the CF of a project without actively have input data for partners, because if this is the case, and error is risen as you can see if you click on the calculate CF button when some partner is missing some data.

[2022-06-27 08:24] natlio opened #51 "Additional Data - Scenarios"
Regarding the setting of scenarios in the tab "Additional Data" the following changes should be made both in Design and Monitoring modes according to the decisions had been made regarding the implementation of scenarios.

1. In the tab "Transportation" the table Percentage distribution (%) of cars fleet by technology (fuel) for EU should be removed.
3. In the tab "Events" two subtabs should be add

[2022-06-27 09:51] #37 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 10:01] ARPAV2022 opened #52 "Events and CF values are lost when you update a project"
If you have to modify some characteristics (name, call, duration) of a project in you list, you have to click UPDATE if you want to retain those infos; but in that case the events and the CF values are lost and you have to insert them again.

![immagine](https://user-images.githubusercontent.com/98102967/175915881-c7dd0481-582a-4863-9e12-625a0a65cc33.png)

Please, is it possibile to solve this iss

[2022-06-27 10:07] ARPAV2022 opened #53 "Decimal value for part time and full person staff"
Do you think it is possible to allor the user to insert decimal digits in the values of the "number of part time /full time employees"?
If it is not the case, I woudl kindly ask you to specify this info in the guidelines.

[2022-06-27 10:28] ARPAV2022 commented on #50
Ok it if fine for me, thank you; Clear instructions  reporting these alert will be crucial for the user. Thank you

[2022-06-27 10:28] #50 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 10:30] ARPAV2022 commented on #49
Ok, I think that the losting cause is when you update the characteristics of the project (see #52 )

[2022-06-27 10:30] #49 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 11:48] ARPAV2022 commented on #47
Ok, it works, but as far as I understood in the CF design mode the "base" and "scenario" switch is not more useful becausee the inter-scenario comparison will be do supported by the "My projects" list.

[2022-06-27 11:48] #47 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 11:48] #46 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 12:01] ARPAV2022 opened #54 "Support to the user in the scenario analysis"
I worked a bit with the "Additional data" tab:
1) is it possible to present the data in % terms instead of decimal digit?
2) If not, please consider to round the values at the second decimal digits in order to simplify the calculation of the user.
3) I suggest to add "Transportation for commuting" for the first sub-label of senario analysis
4) I would suggest to rename "Additional data" as "Variab

[2022-06-27 16:28] MaToSan24 commented on #53
It is possible, but does it make sense? Keep in mind that the fields "number of part time / full time employees" are later multiplied by the "Sum of the staff person months (full time + part time)", which can be decimal if that is what you need.

[2022-06-27 16:29] #41 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 16:29] #40 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 16:30] #22 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 16:31] #26 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 16:31] #36 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 16:32] #24 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-27 18:01] MaToSan24 commented on #54
3, 4 and 5 have been implemented. Regarding 1 and 2, the numbers shown are the same as provided in the Excel, it is not possible to show them as percentages and allow editing at the same time, as well as if we show them rounded, they would be rounded in the database as well and would not follow the values provided in the methodology.

[2022-06-27 18:01] MaToSan24 commented on #45
The feature of exporting the "My projects" list to CSV has been implemented.

[2022-06-27 18:11] MaToSan24 commented on #52
Again, we have checked this issue and the problem isn't showing up for us. As a proof of this, you can check the "UTC_copy_1 EDITED" project in the app. We have cloned the "UTC" project, renamed it, changed its date and the values are not missing. Are you sure that your issue does not have to do with values not saving in the project details view instead of a problem with project editing?

[2022-06-28 06:33] ARPAV2022 commented on #45
Thank you. Please, consider the opportunity to edit a short guidelines also for the superaccount profile that we will provide to the JS.

[2022-06-28 06:40] ARPAV2022 commented on #52
Finally, I hope this is the case. Thank you for the support.

[2022-06-29 06:44] ARPAV2022 commented on #45
Considering the point of view of the Programme, we think could be interesting to provide a feature of the tool that provide the sum of all the "CF best option" projects for each call.
For this additional feature we ask to to assess the techincal feasibility, considering that the query providing the sum should be able to select only one value for each project (for example, without the different sce

[2022-06-29 06:49] ARPAV2022 opened #55 ""CF estimation" values shown in "My project" list"
In the CF estimation column some values does not appear even if a value has been calculated

![immagine](https://user-images.githubusercontent.com/98102967/176369871-ce4e46d4-18d6-4d15-b055-483417b3bc0a.png)

![immagine](https://user-images.githubusercontent.com/98102967/176370102-3f1111d9-56eb-4eee-999c-d1d39b93dfdc.png)

[2022-06-29 06:55] natlio commented on #51
Just to clarify that in the tab "Events" the table "Percentage distribution of international and national travels for events" should be removed as it has been decided and replaced with the following table : "Percentage distribution of travels by main travel mode (%) ". This table is used for the calculation of CF for the Moving from/to the Hosting Place, so it could be renamed also as  "Percentage

[2022-06-29 08:05] ARPAV2022 commented on #52
I check again following these actions:
I cloned the project 20220506 test arpav - REMEDIO
I checked in the cloned project that all data have been correctly cloned
I clicked on "save project"
I renamed the cloned project as 20220506 test arpav - REMEDIO - deleted events
I clicked on updated project
I opened the cloned project (renamed) and the data of Events and CF are missing.

Thank you for your

[2022-06-29 08:12] ARPAV2022 opened #56 "CF etimation in My list not updated with scenario analysis"
I cloned the UTC project in orther to do a sensitivity analysis
I trasnform the material percentage from 100% of primary to 100% recycled for all the material
I recalcuted the CF and 101...appears (also in the value on the top of the page, while the value in "My project" list is still the previous one (131...)
![immagine](https://user-images.githubusercontent.com/98102967/176386344-f4776da5-f316-4

[2022-06-29 08:17] ARPAV2022 commented on #53
I think that it makes sense because the values are methodological connected with different aspects (communiting VS office activity) and if there are not technical constraints I would open to users this possibility. This need arose during the collection phase of data from different projects. Thank you

[2022-06-29 08:40] ARPAV2022 opened #57 "Comments on Analysis feature"
![Uploading immagine.png…]()

I exported the data from an hypothetical CF best scenario to the Monitoring mode.
I updated value of the monitoring mode, supporing the report of the year 1 of implementation.
I went to Analysis tab and I compare the graph; some comments arose:
1) Different scale of the two figures do not allow an easy comparison
2) The merging of the data in one figure could provide

[2022-06-29 08:51] ARPAV2022 opened #58 "Exporting of scenario values in the monitoring phase"
I selected an hypothetical "CF best scenario" project to export in the monitoring phase.
In that project, during the scenario analysis, I change all the matieral from primary (100%) to recycled (100%).

But I noticed that the values in the "variables of scenario analysis" of the monitoring mode are not retained and the original situation (100% of primary) is shown.

During the export of values in

[2022-06-29 09:41] jabv2022 commented on #54
Dear all:

I have notice some contradictions between what we agree and what Arpav is proposing here.

3. The different scenarios proposed by Auth (for example "Transportation for comuting") are going to be implemented manually by the user cloning the project and following the instructions included in the guide of the tool to implement the scenarios. So,  sub-labels of scenario analysis should not

[2022-06-29 09:54] jabv2022 commented on #45
In my opinion this feature are complex to implement. We have to take into account that in the tool are going to be alive projects in different stages (test project, submitted proposal projects for any call, monitoring projects of funded projects for any call) so new parameters should be included to categorize the different kinds of projects in the list. My recommendation is that JS impose to parti

[2022-06-29 10:58] jabv2022 commented on #58
Please, update the tab name to "Additional data". Scenario analysis should be done manually by the user through a cloning and modifying process, where any value of both tabs (data and additional data) could be change.

[2022-06-29 14:41] ARPAV2022 commented on #45
Thank you for your reply.
We agree on the importance of the CSV export file for further analysis, but we think that the possibility to have an overall sum of the projects within the call could be an added value for the JS.
In this sense, we are wondering if the integration in the "My projects" table of a new column to insert a codification that provides filtered sums could be a solution. In partic

[2022-06-29 14:46] ARPAV2022 commented on #54
Ok with the label "Additional data", but it is importnat to have clear and transparent guidelines for the user.

[2022-06-29 16:21] MaToSan24 commented on #58
The modifications performed on a project in the "Design mode" are independent to the ones performed in the "Monitoring mode", this is the currently implemented behaviour and it is working as expected.

I am afraid that this is not possible.

[2022-06-29 16:28] MaToSan24 commented on #55
This bug has been fixed, sorry for the inconvenience.

[2022-06-29 16:29] MaToSan24 commented on #53
You can now input decimal values in the demanded fields.

[2022-06-29 16:29] MaToSan24 commented on #56
This bug has been fixed, sorry for the inconvenience.

[2022-06-29 17:24] MaToSan24 commented on #52
We have followed your steps and you are right, but it seems that it only happens with the REMEDIO project specifically. It probably is because it was created a long time ago and the internal data schema has suffered many updates along the time, so it is probably lacking some kind of internal variable that is preventing it from functioning in the correct way. If you created a new project and input

[2022-06-29 17:31] MaToSan24 commented on #51
This is not possible because the table used in the methodology, excels provided and in the application for the calculation of CF regarding primary, recycled and reused material usage is the same for employees and events, they are not independent tables.

[2022-06-29 17:36] MaToSan24 commented on #51
The same applies to trasportation for events, the same table is used as for transportation for commuting.

[2022-06-30 06:41] ARPAV2022 commented on #58
This is something to be stress in a warning mask of the guidelines, because the user select the "CF best scenario" according to the modification performed in the "Data" tab but also in the "Additional data" one.

Therefore, we have to invite the user working in the "monitoring mode" to take into consideration also the "Additional data" tables and adjust them according to the real performance durin

[2022-06-30 06:41] ARPAV2022 commented on #56
OK thank you very much

[2022-06-30 06:41] #56 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-30 06:42] ARPAV2022 commented on #55
Ok thank you very much

[2022-06-30 06:42] #55 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-30 06:42] ARPAV2022 commented on #53
OK thank you very much

[2022-06-30 06:42] #53 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-30 06:46] ARPAV2022 commented on #25
The bug and the solution are explained in #52

[2022-06-30 06:46] #25 closed, assigned to LuisUsrDev, MaToSan24

[2022-06-30 09:20] natlio commented on #51
In the design mode, in case of work commuting (i.e. employees) the percentages of the country of each partner are used in the calculations while for events the percentages for Europe are used.
In the monitoring mode,  in case of work commuting (i.e. employees) the percentages of the country of each partner or external experts are used in the calculations while for events the percentages of each ho

[2022-06-30 11:19] jabv2022 commented on #45
The modifications that you proposed will need the creation of new variables in the database that let stablished the status of the project (draft/best escenario/monitoring), and additionaly new specific code should be iserted for filtering and operate with values. Its is feasible but need time.
In actual stage of the project, close to the finalization, with the JS meeting coming soon, vacation peri

[2022-06-30 11:47] jabv2022 commented on #51
Dear Natalia, these changes that you are proposing affect significantly to the tool database structure. It also requires the modifications of a lot of code, and several screens. In fact, there is a change in the methodology reflected in the excell files that was used for developing the tool.
Considering the close meeting with the JS,  summer breaks, and that validation and deployment of the tool i

[2022-06-30 13:26] natlio commented on #51
Thank you for the response. I understand that the time is very limited and of course any possible change should not require such time. Indeed, in case of materials the same default values of percentages were used for all partners as well as for the case of employees and events, so, I understand that this requires the addition of extra tables in the tool which is difficult in the current stage. How

[2022-07-01 07:18] ARPAV2022 commented on #45
Thank you @jabv2022 ; we agree on the suggested approach. We can freeze this feature and focus on the main part of the tool to be deplyed before the meeting with JS. Thank you for your collaboration.

[2022-07-01 08:13] ARPAV2022 commented on #52
I created a new project called REMEDIO.
I repeted the process of cloning, editing and updating to check, but the bug is stille there. Events and CF values are deleted when I edit and update the values (such as name or call number)

[2022-07-01 12:11] LuisUsrDev commented on #52
This bug has been fixed, sorry for the inconvenience.

[2022-07-05 07:42] natlio opened #59 "Monitoring mode - correction in the references *"
Please, in the section Partners and External experts, replace the phrase "whole project duration" with "project monitoring period"

[2022-07-05 09:35] MaToSan24 commented on #59
This has been corrected.

[2022-07-05 09:35] #59 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-05 09:36] #58 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-05 09:56] MaToSan24 commented on #57
Could you check the current implementation of the analysis feature and give us your feedback about its current state again? Thank you in advance.

[2022-07-05 09:56] #54 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-05 09:58] MaToSan24 commented on #51
I think this issue has been finally solved with the latest updates of the tool. Could you confirm it please?

[2022-07-05 10:02] natlio commented on #51
Yes , I confirm. I will close the issue.

[2022-07-05 10:02] #51 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-05 10:33] natlio opened #60 "Analysis tab"
I propose to reduce the decimal digits to 2 (similarly to the results of total CF)  in the CF difference between the two phases since I made a test and the result was the following

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/61784811/177308854-1fe4efdf-b342-427b-a30f-4e122c0f474c.png">

Thank you.

[2022-07-05 10:44] MaToSan24 commented on #60
Done.
![image](https://user-images.githubusercontent.com/63660411/177310868-1737181a-97e3-41dc-8364-b2204a42b7ab.png)

[2022-07-05 10:44] #60 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-05 14:07] ARPAV2022 opened #61 "Error in the calculation of a new monitoring year"
Good morning,
I have created the project UTC_monitor_year3
I switch to monitoring phase in order to update new values in the tables (increasing some values in order to represent a project activity of 3 years)
I saved any tabs
I clicked on "recalculate" but the CF values do not change
![immagine](https://user-images.githubusercontent.com/98102967/177346629-b10a9978-729f-4f70-8a00-34eeec82b0b6.png)

[2022-07-05 15:50] MaToSan24 commented on #61
![image](https://user-images.githubusercontent.com/63660411/177367149-a415a3c6-96d1-4adb-8b4b-3b4a23ba7b9b.png)
The problem was that there wasn't any travel modes selected when departing from the hosting city in the Project participation in in-presence events tab. Having selectioned "airplane" for both, now it can calculate the CF correctly:
![image](https://user-images.githubusercontent.com/63660

[2022-07-05 15:50] MaToSan24 commented on #61
I will try to add some kind of warning for this case so the application will inform the user that the travel mode is missing, sorry for the inconvenience.

[2022-07-05 16:01] #61 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-06 07:13] ARPAV2022 commented on #57
Thank you for the updates.

![immagine](https://user-images.githubusercontent.com/98102967/177490313-ded50d5c-b165-4f83-87c5-8329aea32f43.png)

I compared the UTC project year3 with the CF design phase with the analysis feature, but the Kiviat diagram seems not to correspond to the mathematical calculations:

I divided the electricity value of monitoring phase (41.11) by the CF design phase one (5

[2022-07-06 19:26] natlio opened #62 "PDF file"
I made a test (test3 in my account) with the following results.
<img width="1175" alt="image" src="https://user-images.githubusercontent.com/61784811/177627012-18562fa1-e4a8-4928-8e59-375c06ea83f9.png">

When I generated the PDF file I got the following
<img width="1175" alt="image" src="https://user-images.githubusercontent.com/61784811/177627214-cf072f01-3fdd-44c8-9942-cbe614323010.png">

Could

[2022-07-07 11:29] MaToSan24 commented on #62
This was an error, sorry for the inconvenience, it has been fixed.

Also, the subscripts now are displayed correctly.

[2022-07-07 11:29] #62 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-07 11:33] MaToSan24 commented on #57
The analysis view has been updated, feel free to check it out again and tell us if there is still something wrong. Thank you.

[2022-07-07 11:33] #52 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-07 11:53] natlio opened #63 "Additional data - warning / successful messages"
When I modify the profiles in the tab "Additional data" in both modes , in case I have inserted by mistake values that do not sum up to 1 a warning message is shown. However , a message "Successful" is also shown at the same time. This is a bit confusing. Could you remove the "successful" message if the profile has not been set correctly?

<img width="1274" alt="image" src="https://user-images.git

[2022-07-07 12:02] natlio opened #64 "Additional data - Events - problem with the values"
I am trying to modify the percentage distribution of travels in events in the CF design mode.

When I insert the following percentages (which sum up to1) an warning message is always shown.

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/61784811/177768030-f03fe9d2-0ccf-46a6-9392-5ef0c12be008.png">

Could you please check it?

In this case, when I return to Data and c

[2022-07-07 12:09] natlio opened #65 "Analysis tab - Rename "Heat""
Please rename the label "Heat" in the figure as "Fuels (Heating)" similarly to the CF breakdown.  Thank you.

[2022-07-08 12:07] natlio opened #66 "Europe in the field "Country""
Please remove Europe from the field "Country" in the section Partners in both CF design and monitoring modes.

Keep this profile only in the External Experts section of monitoring mode as well as in the Events Section of the monitoring mode (i.e. hosting country).

[2022-07-10 17:13] MaToSan24 commented on #66
These changes have been implemented, feel free to check them out.

[2022-07-10 17:13] #66 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-10 17:14] MaToSan24 commented on #65
These changes have been implemented, feel free to check them out.

[2022-07-10 17:14] #65 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-10 17:15] MaToSan24 commented on #64
We have changed this so it works in the following way: it will show only the "warning" message if the sum of the values is not equal to 1, otherwise, if the sum is equal to 1, the "successful" message is shown.

Also, the bug where values would reset to default values again has been solved as well.

[2022-07-10 17:15] #64 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-10 17:16] MaToSan24 commented on #63
This issue has been fixed, you can find the description in the following linked issue: #64

[2022-07-10 17:16] #63 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-10 17:17] #57 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-11 08:20] ARPAV2022 commented on #57
Thank you, in my opinion the proposed version is more significant for the monitoring effort. I would ask if it is possible to highlight the line corresponding to the value 1 (e.i. 100% of the CF best option) that is a sort of threshold for the applicant.
Thank you in advance.

[2022-07-11 11:22] MaToSan24 commented on #57
A black highlighting has been added for the 100% of the best option.
![image](https://user-images.githubusercontent.com/63660411/178253097-772173a5-55bf-4998-a9ca-dcb5d318a2a5.png)
![image](https://user-images.githubusercontent.com/63660411/178253502-aef48905-e429-4099-9bc9-18de7ec995b2.png)

[2022-07-18 14:00] natlio opened #67 "Clone a Project - additional data not copied"
I have created a project named "test1_copy_1_Year1 " in my account. I cloned this project and renamed it as "test1_copy_1_Year1_2". All the basic input data as well as the results of CF design mode had been copied. However, the tables in the "Additional data" section had not been copied. They are set to default values. Is this a bug or it is not possible to clone these data?

[2022-07-19 20:50] MaToSan24 commented on #67
This bug has been fixed, sorry for the inconveniences.

[2022-07-19 20:50] #67 closed, assigned to LuisUsrDev, MaToSan24

[2022-07-21 11:49] natlio opened #68 "Check CF Transportation results"
Could you please check that both in Design and Monitoring modes, the results of CF Transportation are always identical for the same input data among different projects?

You can see in my account the results of test1_copy_1_Year1 and test1_copy_1_Year1_2 for the design mode. The input data are the same but the results slightly differ. Am I missing something or is this a bug?

Also, in the project

[2022-07-21 18:48] MaToSan24 commented on #68
If you notice, the duration of the two projects differ by 1 month, the duration of the "test1_copy_1_Year1_2" project is 1 month longer than the other, thus the CF is slightly higher:
![image](https://user-images.githubusercontent.com/63660411/180291588-c6feadbd-041b-44fc-8423-3c101ab45c3a.png)

[2022-07-21 18:57] MaToSan24 commented on #68
I don't quite understand where the problem is, could you explain it again in a different way please?

[2022-07-21 18:59] MaToSan24 commented on #68
Again, the problem here is that the two projects do not have the same duration, the first one is 1 month longer than the second.

[2022-07-21 19:18] natlio commented on #68
Thank you for the reply. This is very strange since in my account I do not see the same.  I  see that in all projects the duration is 24 months (from 7/2022 to 06/2024). Also when I select edit project it is also shown that the duration is 24 months.

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/61784811/180297933-f1c0c960-b6a1-43ec-bbce-16535a8d6e44.png">

[2022-07-21 19:49] MaToSan24 commented on #68
That's pretty weird because I've checked the database and the correct values are the one I sent you. Your browser must have cached some information and so it isn't displaying the correct values. Try pressing ctrl + F5 or ctrl + shift + R to reload the page without cache. If it still displays the same data, try editing the project's "to" date to 08/2024 and edit it back to 06/2024 and check if the

[2022-07-21 19:59] natlio commented on #68
Thank you , it worked when I edited again the dates and recalculated the values. Just to inform you that I use Safari as a browser.
Thanks again for the support.

[2022-07-21 20:21] natlio commented on #68
Could you please check if the duration now is 24 months for all projects? Since I noticed that now the total CF is 75.12 CO2e for design mode but in your screenshot it seems that this value is for 23 months case. It seems that there is a problem with the update of the input data. In fact now transportation value is 1.59 (even though I updated many times the dates to 24 months) but in the monitorin

[2022-07-22 09:56] MaToSan24 commented on #68
![image](https://user-images.githubusercontent.com/63660411/180414454-72f0aae2-a6a8-4c91-ab52-1e3d8626316d.png)
The project duration wasn't updated, I will update it manually. I have recalculated the CF for each project so now, every value should be correct:
![image](https://user-images.githubusercontent.com/63660411/180415108-26ddc9ec-ad4e-419b-859e-e9ddf82b188d.png)

[2022-07-22 10:28] natlio commented on #68
In the second screenshot, it seems that even though the data changed to 24 months, the value of CF remained the same (75.12). So again, in the first two projects event though the duration is the same the result is different again (1.59 vs 1.66 in transportation section).

[2022-07-23 09:56] MaToSan24 commented on #68
I have finally found the problem. There was a bug in the edition of the project's duration. Even if the app displayed the duration values correctly, internally, in the database they were being saved as 1 month less. I have fixed it and trying to recalculate the CF in the app and the values are finally ok.
![image](https://user-images.githubusercontent.com/63660411/180600377-36fdfd55-2289-4cc1-88a8

[2022-07-24 17:50] natlio commented on #68
That is great. It finally works fine. Thank you very much. I will close the issue.

[2022-07-24 17:51] #68 closed, assigned to LuisUsrDev, MaToSan24